@page "/project/create"

@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Create Project</h3>
<EditForm Model="Project" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="control-label">Name</label>
        <InputText @bind-Value="Project.ProjectName" class="form-control"></InputText>
        <ValidationMessage For="@(() => Project.ProjectName)" />
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <InputText @bind-Value="Project.ProjectDescription" class="form-control"></InputText>
        <ValidationMessage For="@(() => Project.ProjectDescription)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn" style="background-color:orange" @onclick="BackToMenu">Cancel</button>

</EditForm>

@code {

    private Project Project { get; set; } = new Project();

    private async void HandleValidSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("/api/Projects", Project);
            response.EnsureSuccessStatusCode();

            var content = await response.Content.ReadAsStringAsync();
            var project = JsonConvert.DeserializeObject<Project>(content);
            Navigation.NavigateTo("/project");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

    }

    public void BackToMenu()
    {
        Navigation.NavigateTo("/project");
    }
}
